{% extends 'network/base.html' %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block content %}
<h1>{{ profile.user.username }}</h1>
<div>
    {% if profile.user.username != request.user.username %}
        {% if profile.user not in request.user.profile.following %}
        <button><a href="{% url 'network:follow' profile.user.username %}">Follow</a></button>
        {% else %}
        <button><a href="{% url 'network:unfollow' profile.user.username %}">Unfollow</a></button>
        {% endif %}
    {% endif %}
</div>

<div>
    <p><strong>Followers: </strong>{{ profile.followers.count }}</p>
    <p><strong>Following: </strong>{{ profile.following.count }}</p>
</div>

<div>
    <figure>
        <blockquote>{{ profile.quote }}</blockquote>
        <figcaption>&mdash; {{ profile.author_quote }}</figcaption>
    </figure>
</div>
{% endblock %}