{% extends 'network/base.html' %}

{% block title %}{{ profile.username }}{% endblock %}

{% block content %}
<h1>{{ profile.username }}</h1>
<div>
    {% if request.user.is_authenticated %}
        {% if profile.username != request.user.username %}
            {% if profile not in request.user.profile.following %}
            <button><a href="{% url 'network:follow' profile %}">Follow</a></button>
            {% else %}
            <button><a href="{% url 'network:unfollow' profile %}">Unfollow</a></button>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

<div>
    <p><strong>Followers: </strong>{{ profile.profile.followers.count }}</p>
    <p><strong>Following: </strong>{{ profile.profile.following.count }}</p>
</div>
{% endblock %}